body {
    font-family: Arial, Helvetica, sans-serif;
}

body > header > ul {
    background-color: black;
    border-radius: 15px;
}



#sidemenu {
    border: 1px solid #fff;
    top: 15px;
    display: inline;
    vertical-align:top;
    position: fixed;
    width: 20%;
    height: 400px;
    background-color: black;
    border-radius: 15px;
}
  

@media screen and (max-width: 600px) {
    #sidemenu {
        position: absolute;
        display: block;
        width: 70%;
        height: 50%;
    }

    #questions {
        margin-right: auto;
        margin-top: 400px;
        display: block;
        font-size: 25px;
        width: 100%;
    }

    input[type="radio"] {
        transform: scale(2.5);
    }

    input[type="check"] {
        transform: scale(2.5);
    }
}


#sidemenu > ul > li {
    color: rgb(198, 193, 193);
    list-style: none;
    cursor:pointer;
    margin-top: 15px;
}

#sidemenu > ul > li:hover {
    color: #fff;
}

body > main > section {
    margin-bottom: 15px;
} 

body > main {
    min-height: 800px;
}

body > footer {
    width: 100%;
    margin-top: 15px;
    color: #fff;
    background-color: black;
    height: 200px;
    text-align: center;
}

body > footer > span {
    display: block;
    position: relative;
    top: 40px;
    font-weight: 600;
}

body > main > section > button {
    font-size: 18px;
    text-align: center;
}

#ossys {
    display: none;
}

#sysfile {
    display: none;
    margin-bottom: 15px;                          
}

#process-thread {
    display: none;

}

#memory {
    display: none;
}

#processors {
    display: none;
}

#soinstall {
    display: none;
}

#textareasoinstall {
    border-radius: 15px;
    border: 2px solid;
}

#show-first {
    position: relative;
    top: 300px;
    font-size: 40px;
    text-align: center;
}

.show-gab {
    text-align: center;                
}

#modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-content {
    border-radius: 15px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

#modal > #modal-content > #close {
    float: right;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

#barramento {
    display: none;
}

#language {
    display: none;
}


#questions {
    margin-left: auto;
    width: 69%;
}