body {
    font-family: Arial, Helvetica, sans-serif;
}

.space-between-inputs {
    margin-left: 15px;
}

.general-inputs {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 14px;
    color: #6b7272
}

.checkbox-style {
    margin-top:2px;
}

.label-style {
    color: #121212;
    font-size: 16px;
    font-family: monospace;
}

.radio-style {
    font-size: 15px;
    margin-left: -5px;
    color: #6493bbeb;
}

.form-style {
    border: 1px solid;
    border-color: #6493bbeb;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    background-color: #e9eaf1;
}

.title-style {
    font-weight: 100;
    background-color: #8eb9deeb;
    color: #edecec;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
}

.input-radio-container {
    border: 1px solid;
    border-color: #6493bbeb;
    width: 300px;
    border-radius: 13px;
    padding: 5px;
    margin-top: 15px;
    display: inline;
}

.personal-input {
    padding: 5px;
    border-radius: 8px;
    font-size: 17px;
    border: 1px solid;
}

.footer-style {
    background: #6493bbeb;
    margin-top: 15px;
    height: 400px;
    color: #fff;
}

.footer-part-first {
    height: 70%;
}

.footer-part-second {
    height: 30%;
}

.footer-part-columns {
    vertical-align: top;
    display: inline-block;
    width: 24%;
}

.footer-title {
    margin-left: 15px;
}

.footer-list {
    margin: 0 auto;
    list-style-type: none;
}

.footer-list > li {
    margin-top: 15px;
}
.footer-list > li > a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.footer-second-row-one {
    text-align: center;
    vertical-align: middle;
    height: 30%;
}

.footer-second-row-one > span {
    font-size: 25px;
}

.footer-second-row-two {
    text-align: center;
    font-size: 14px;
    height: 40%;
}

.footer-second-row-two > a {
    text-decoration: none;
    color: #fff;
}

.footer-second-row-three {
    height: 30%;
    text-align: center;
    font-size: 14px;
}
